
.hero {
    background-size: cover;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    flex-wrap: wrap;
}

.hero article {
    /* display: flex;
    flex-direction: row;
    align-self: center;
    width :80%; */
    /* Margin: 100px; */
}

.hero img {
    margin: 100px;
    height: 400px;
}

.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
}

.hero .text h1 {
    font-weight: 900;
    text-transform: uppercase;
    
}

.hero .text h2 {
    text-transform: uppercase;
}

.hero .interact{
    display: flex;
    flex-direction: row;
}

.hero .button {
    border-radius: 12px;
    color: white;
    border: solid white 1px;
    background-color:transparent;
    margin: 20px 40px 0px 0px;
    padding: 5px 20px 5px 20px;
    letter-spacing: 1px;
    font-size: 12px;
}
.hero .button:hover{
    background-color:white; 
    color: black;
}