.team {
    height: inherit; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 50px 0px 50px 0px;
}
.container {
    width:80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  
    /* flex-direction: row; */
}

.team img {
    border-radius: 50%;
    height:100px;
    width:100px;
    object-fit:cover;
}

.team-card {
    height: 175px;
    width:120px;
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
.team-card .col-3 {
    display: flex;
    flex-direction: column;
    align-self: center;
} */