  

  * {
    font-family: Arial, Helvetica, sans-serif;
  }


.feat {
    /* background-color:red; */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.feat .textbox {
    display: flex;
    align-items: center;
}

.feat .mock-up {
    display: flex;
    justify-content: center;
}

.feat .mock-up img {
    height:400px;
    margin: 100px;
}

.textbox p {
    text-align: justify;
    font-size: 12px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 20px;
}

.textbox .row {
    
}

.textbox .row {
    width:100%;
    margin:0px;
    height:25px;
    display: flex;
    justify-content: space-between;
    width:100%;
    /* margin-left: 1px; */
}
.textbox button {
    border: rgb(172, 172, 172) solid 2px;
    color: rgb(73, 73, 73);
    border-radius: 12px;
    font-size: 10px;
    padding:5px 20px 5px 20px;
    margin: 0px;
    background-color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.textbox button:hover {

    background-color: rgb(172, 172, 172);

}

.textbox .col-7 {
    padding: 0px;
    /* margin:0px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
}