header {
    /* background:linear-gradient(to right, #000027 0%, #580C1B 100%); */
    /* background-color:rgba(19, 19, 19, .80); */
    width: 100%;
    display: flex;
    flex-direction: row;
    height:75px;
    align-self: center;
}

.header img {
    margin: 0% 20% 0% 10%; 
    display: flex;
    align-self: baseline;
    height:30px;
}

.header img:hover{
    height: 31px;
}

.header a {
    text-decoration: none;
    /* color: linear-gradient(to right, #3259cf, #e42c7c ); */
    align-self: center;
    background: linear-gradient(to right, #ca32cf 0%, #e95293 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}


.header nav {
    display: flex;
    align-self: center;
}

.header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0px; 
    padding: 0px;
    height: 100%;
}

.header li {
    align-self: center;
    display: flex;
    font-size: 13px;
    margin-top: 7px;
}

.header li:hover {
   font-weight: bolder;
}